.banner{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    
    background-image: url(/images/banner1.png);

    .part1{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        padding-left: 20%;
        .bar {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
            div {
                width: 100px;
                height: 3px;
                background: gray;
            }
        }
        p {
            font-size: 2em;
            width: 30%;
            min-width: 160px;
        }
        .bottomCont {
            button {
            }
        }
    }
}